<div class="jumbotron">
	<h2>Todoster! Free and Easy.</h2><br>
	<h4>Trusted by Millions. Todoster is the best online Task Manager App!</h4><br>
	<%= link_to "Sign_up", new_user_registration_path, class: "btn btn-danger" %>
</div>